

$baseTextColor: #495057;
$buttonPrimaryColor: #17688f;
$buttonSuccessColor: #278943;
$buttonDangerColor: #9e1c23;
$buttonInfoColor: #1792a8;


.hw-card-info-holder{


  .hw-card{
    border: 1px solid #eeeeee;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-shadow: 0 1px 1px white;
    color: $baseTextColor;
    outline: none;
    white-space: nowrap;
    padding: 30px 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0,.14), 0 7px 10px -5px rgba(14, 14, 14, 0.4);
    margin-left: 10px;



    &.hw-card-primary{
      background-color: $buttonPrimaryColor;
      color: white;
      border-radius: 3px ;
      border-color: $buttonPrimaryColor;
      text-shadow: 0px 1px 1px black;
      font-weight: bold;

    }

    &.hw-card-info{
      background-color: $buttonInfoColor;
      color: white;
      border-radius: 3px ;
      border-color: $buttonInfoColor;
      text-shadow: 0px 1px 1px black;
      font-weight: bold;

    }

    &.hw-card-danger{
      background-color: $buttonDangerColor;
      color: white;
      border-radius: 3px ;
      border-color: $buttonDangerColor;
      text-shadow: 0px 1px 1px black;
      font-weight: bold;

    }

    &.hw-card-success{
      background-color: $buttonSuccessColor;
      color: white;
      border-radius: 3px ;
      border-color: $buttonSuccessColor;
      text-shadow: 0px 1px 1px black;
      font-weight: bold;

    }



  }






}
