@import './hw-themes';

//MAIN LAYOUT

.hw-app-layout-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  height: 100%;

  .hw-app-layout-main-root {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    height: 100%;



    .hw-nav-bar-main {
      box-shadow: 10px 0px 18px -12px #747474;
      height: calc(100% + 1px);
      color: #3f3f3f;
      cursor: pointer;
      transition:all 0.4s ease-in-out;
      background: #ffffff;
      background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%);
      background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%);
      background: linear-gradient(to bottom,  #ffffff 20%,#e5e5e5 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
      margin-left: 0px;

      &.mini {
        width: 57px;
        transform: translateX(0px);

        .hw-bar-list-item {
          text-align: center;
          justify-content: center;
          padding-left: 0;
          padding-right: 0;
          min-width: 0;

          > svg {
            margin-right: 0;

            &.hw-list-item-caret {
              display: none;
            }
          }

          .label {
            display: none;
          }

          .hw-list-item-caret {
            display: none;
          }
        }

        .hw-app-layout-main-data {
          margin-left: 60px;
        }

      }

      &.opened {
        width: 200px;
        transform: translateX(0px);
        .hw-nav-bar-main-close {
          display: none;
        }
      }

      &.hide {

        &.opened {
          transform: translateX(-200px);
        }
        transform: translateX(-65px);
      }

      .hw-bar-list-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8px 0;
        color: inherit;

        .hw-bar-list-item {
          color: inherit;
          cursor: pointer;
          min-height: 48px;
          width: 100%;
          padding: 8px;
        //  transition: color .3s,background-color .3s;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          > svg {
            filter: drop-shadow(-2px 2px 0px white);
            margin-right: 0;
            font-size: 14px;
          }

          .label {
            color: inherit;
            margin-left: 16px;
            width: auto;
            min-width: 0;
            max-width: 100%;
            text-shadow: 1px 1px white;
            padding-left: 10px;
            flex: 1;
            a {
              text-decoration: none;
            }
          }

          &:hover {
            z-index: 300;
            box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(60, 72, 88, 0.4);
            text-decoration: none;
          }

          &.active {
            > svg {
              color: theme-var($--color-secondary);
              filter: drop-shadow( -2px 2px 0px white);
            }
            background: rgba(239, 239, 239, 0.74);
            border-radius: 3px;
          }
        }
      }

      .hw-nav-bar-main-close {
        position: fixed;
        display: block;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 10001;

        &.show {
          display: flex;
          top: 15px;
          right: -15px;
          z-index: 999;
          cursor: pointer;
          border-radius: 100%;
          width: 30px;
          height: 30px;
          border: 1px solid transparent;
          background: #2e383e;
          justify-content: center;
          align-items: center;

          > svg {
            display: block;
          }

        }
        > svg {
          display: none;
          color: white;
        }

      }

      @media screen and (max-width: $c-mobile-version-width) {
        transition: all 0.3s ease-in-out;
        margin-bottom: 2px;
        opacity: 0.7;
        position: absolute;
        z-index: 1001;
        margin-left: 0;
         .hw-bar-list {
          position: relative;
          right: 0;
          top: 45px;
        }

        &.mini,
        &.opened {
          width: 200px;

          &.hide {
            width: 0;
            transform: translateX(-200px);
          }

          .hw-bar-list-item {
            > .label {
              display: flex;
            }
          }
        }


        .hw-nav-bar-main-close {
          display: none;
          &.show {
            display: none;
          }
        }


      }



    }


    .hw-app-layout-main-data {
      &.mini {
       width: calc(100% - 60px);
        @media screen and (max-width: $c-mobile-version-width) {
          width: 100%;
        }
      }

      &.opened {
        width: calc(100% - 200px);
        @media screen and (max-width: $c-mobile-version-width) {
          width: 100%;
        }
      }

      &.hide {
        width: calc(100%);
        @media screen and (max-width: $c-mobile-version-width) {
          width: 100%;
        }
      }

    }

  }




  .hw-app-footer {
    background: #2e383ee0;
    color: #e7e7e7;
    z-index: 1001;
  }

}

.hw-app-layout-main-data {
  display: flex;
  justify-content: center;
  align-items: center;
}




.hw-collapse-container {
  display: none;
  padding: 3px 0px;
  width: 100%;
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;



  &.active {
    display: block;
    padding-left: 10px;



  }

  .hw-collapse-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;

    .hw-bar-list-item {
      margin-top: 2px;

    }
  }


}



.hw-list-item-caret{
  top: 3px;
  color: inherit;
  float: right;
  width: 30px;
  height: 24px;
  opacity: 0;
  position: inherit;
  text-align: center;
  margin-right: -5px;
  vertical-align: middle;
  display: inline-block;
  font-size: 1.5rem;
  flex-shrink: 0;
  user-select: none;
  touch-action: none;
  transition: all 0.3s ease-in;

  &.active {
    opacity: 0.8;
  }
}
