@import 'hw-themes';
@import 'hw-mixin';
@import 'hw-constants';

.hw-pagination-button-root {
  display: inline-flex;
  justify-content: center;
  outline: none;
  padding: 8px 6px;
  min-width: 40px;
  line-height: 1.41;
  margin-right: 4px;
  font-size: 14px;
  font-weight: 400;
  border: 0.5px solid #ccc;
  text-shadow: #929292 0px 0.3px 0px;
  background-color: #f1f1f1;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  position: relative;
  color: rgb(64, 62, 64);
  user-select: none;

  &:hover,
  &:focus {
    z-index: 25;
    transform: scale(1.075);
    background-color: transparent;
    outline: none;
  }

  &:active {
    outline: none;
    background-color: transparent;
  }

  &.disabled {
    color: theme-var($--color-disabled);
    cursor: not-allowed;
    opacity: 0.8;
    &:hover,
    &:focus {
      z-index: 0;
      transform: scale(1.0);
    }
  }

  &.active {
    border: 0.5px solid white;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    outline: none;
    text-shadow: 0px 1px 1px black;
    box-shadow: 0px 1px 1px 0px #c3c3c3, 1px 0px 1px -1px black, -1px 0px 1px -1px black, 0px -1px 1px -1px black;
    transform: scale(1.075);
    z-index: 15;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &.primary {
    background-color: theme-var($--color-primary);
    color: white;
  }

  &.secondary {
    background-color: theme-var($--color-secondary);
    color: white;
  }

  &.success {
    background-color: theme-var($--color-success);
    color: white;
  }

  &.info {
    background-color: theme-var($--color-info);
    color: white;
  }

  &.danger {
    background-color: theme-var($--color-danger);
    color: white;
  }

}
