/*
  Returns a CSS variable property specific to themeing.
  Accepts an optional fallback, and optional map.
  - SCSS: color: theme-var($--theme-primary, blue)
  - CSS:  color: var(--theme-primary, blue)
  Throws error if the variable not part of the map
*/
:root.hw-theme-basic-blue {
  --color-primary: rgba(3, 52, 78, 0.85);
  --color-primary-font: rgba(3, 73, 100, 0.85);
  --color-secondary: rgba(5, 85, 127, 0.85);
  --color-success: #278943;
  --color-info: #1892a8;
  --color-danger: #8e1b22;
  --color-error: #b52025;
  --color-error-background: rgba(181, 32, 37, 0.08);
  --color-help-text: rgba(17, 17, 17, 0.7);
  --color-disabled: rgba(192, 192, 192, 0.48);
  --prefix-icon-color: rgba(3, 29, 110, 0.6);
  --linear-gradient-blue: rgba(5, 85, 127, 0.85) 0%, rgba(4, 68, 103, 0.85) 10%, rgba(3, 52, 78, 0.85) 100%;
  --linear-gradient-primary: rgba(29, 63, 126, 0.8) 0%, #1e5799 10%, #2768b2 50%, #1c417d 99%, rgba(30, 87, 153, 0.8) 100%; }

:root.hw-theme-basic-green {
  --color-primary: rgba(24, 66, 38, 0.85);
  --color-primary-font: #101c06;
  --color-secondary: rgba(38, 103, 60, 0.85);
  --color-success: #278943;
  --color-info: #1892a8;
  --color-danger: #8e1b22;
  --color-error: #b52025;
  --color-error-background: rgba(181, 32, 37, 0.08);
  --color-help-text: rgba(16, 28, 6, 0.7);
  --color-disabled: rgba(192, 192, 192, 0.48);
  --prefix-icon-color: rgba(24, 90, 38, 0.6);
  --linear-gradient-primary: rgba(24, 66, 38, 0.8) 0%, #195639 10%, #226752 50%, #174221 99%, rgba(25, 86, 57, 0.8) 100%;
  --linear-gradient-blue: rgba(5, 85, 127, 0.85) 0%, rgba(4, 68, 103, 0.85) 10%, rgba(3, 52, 78, 0.85) 100%; }

/*
  Returns a CSS variable property specific to themeing.
  Accepts an optional fallback, and optional map.
  - SCSS: color: theme-var($--theme-primary, blue)
  - CSS:  color: var(--theme-primary, blue)
  Throws error if the variable not part of the map
*/
:root.hw-theme-basic-blue {
  --color-primary: rgba(3, 52, 78, 0.85);
  --color-primary-font: rgba(3, 73, 100, 0.85);
  --color-secondary: rgba(5, 85, 127, 0.85);
  --color-success: #278943;
  --color-info: #1892a8;
  --color-danger: #8e1b22;
  --color-error: #b52025;
  --color-error-background: rgba(181, 32, 37, 0.08);
  --color-help-text: rgba(17, 17, 17, 0.7);
  --color-disabled: rgba(192, 192, 192, 0.48);
  --prefix-icon-color: rgba(3, 29, 110, 0.6);
  --linear-gradient-blue: rgba(5, 85, 127, 0.85) 0%, rgba(4, 68, 103, 0.85) 10%, rgba(3, 52, 78, 0.85) 100%;
  --linear-gradient-primary: rgba(29, 63, 126, 0.8) 0%, #1e5799 10%, #2768b2 50%, #1c417d 99%, rgba(30, 87, 153, 0.8) 100%; }

:root.hw-theme-basic-green {
  --color-primary: rgba(24, 66, 38, 0.85);
  --color-primary-font: #101c06;
  --color-secondary: rgba(38, 103, 60, 0.85);
  --color-success: #278943;
  --color-info: #1892a8;
  --color-danger: #8e1b22;
  --color-error: #b52025;
  --color-error-background: rgba(181, 32, 37, 0.08);
  --color-help-text: rgba(16, 28, 6, 0.7);
  --color-disabled: rgba(192, 192, 192, 0.48);
  --prefix-icon-color: rgba(24, 90, 38, 0.6);
  --linear-gradient-primary: rgba(24, 66, 38, 0.8) 0%, #195639 10%, #226752 50%, #174221 99%, rgba(25, 86, 57, 0.8) 100%;
  --linear-gradient-blue: rgba(5, 85, 127, 0.85) 0%, rgba(4, 68, 103, 0.85) 10%, rgba(3, 52, 78, 0.85) 100%; }

/*hw colors and shadows start */
/*hw input start*/
/*button constants end*/
/*hw colors and shadows start */
/*hw input start*/
/*button constants end*/
.hw-registration-dialog-root {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 4px 6px 7px -4px #a8a8a8;
  z-index: 51;
  background: #FEFEFE;
  max-width: 300px;
  min-width: 300px;
  min-height: 400px;
  position: relative;
  margin: 10px auto; }
  .hw-registration-dialog-root .hw-registration-dialog-action {
    position: absolute;
    bottom: 20px;
    left: 17%; }
  .hw-registration-dialog-root .hw-registration-dialog-header {
    text-align: center;
    margin: 10px 0px;
    min-height: 40px;
    position: relative;
    color: #006100; }
    .hw-registration-dialog-root .hw-registration-dialog-header.hw-dialog-logo {
      text-align: left;
      margin-left: 20px;
      padding-top: 10px; }
      .hw-registration-dialog-root .hw-registration-dialog-header.hw-dialog-logo > img {
        max-width: 70px;
        max-height: 40px; }
  .hw-registration-dialog-root .hw-registration-dialog-content {
    padding: 120px 20px 20px;
    font-size: 16px;
    color: var(--color-primary);
    font-weight: bold;
    word-break: break-word;
    text-transform: uppercase;
    white-space: pre-line;
    z-index: 2;
    text-align: center; }
  .hw-registration-dialog-root .hw-registration-dialog-icon {
    position: absolute;
    left: 38%;
    top: 60px; }
    .hw-registration-dialog-root .hw-registration-dialog-icon .hw-success {
      font-size: 80px;
      color: var(--color-success);
      opacity: 0.5; }
    .hw-registration-dialog-root .hw-registration-dialog-icon .hw-error {
      color: var(--color-danger);
      font-size: 80px;
      opacity: 0.8; }
  .hw-registration-dialog-root.error .hw-registration-dialog-header {
    color: #8a181c; }
  .hw-registration-dialog-root.error .hw-registration-dialog-content {
    color: #8a181c; }

/*# sourceMappingURL=hw-registration-dialog.css.map */
